/*
#main.homepage_blurb #homepage-logo-rotater { width: 200px; height: 100px; vertical-align: middle; }
#main.homepage_blurb #homepage-logo-rotater.godaddy { background: url() no-repeat 0 5px ; }
*/


/*
#main { padding: 0 20px 10px 241px; background: transparent url(../images/v2/menu-bg.png); border-radius: 5px; box-shadow: 0 0 7px #888; }
#main #content { float: left; width: 100%; padding: 10px 0; }
#main #sidebar { float: left; width: 221px; margin-left: -241px; min-height: 500px; }
*/


#chatbar { 
  position: fixed;
  background: #8cb82b;
  color: #f0f0f0;
  padding: 0 5px;
  
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
/*#chatbar.closed { top: 260px; top: 180px\9; left: -98px; left: 0\9; width: 220px; height: 36px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }*/
#chatbar.closed { display: none; }
#chatbar.active { height: 250px; width: 980px; margin-left: -495px; left: 50%; bottom: 0px; }
#chatbar .close-button { display: none; }
#chatbar.active .close-button { display: block; }
#chatbar .min-button { display: none; }
#chatbar.active .min-button { display: block; right: 23px; }
#chatbar h2 { font: 20px AdelleBold, Titillium, Arial, sans-serif; margin: 5px 5px 7px; padding: 0; text-transform: uppercase; color: #fff; cursor: pointer; text-align: center; border-bottom: 0; }
#chatbar.active h2 { text-align: left; cursor: auto; }

#chatbar iframe { 
  width: 100%;
  height: 210px;
  border: 0;
  margin: 0;
  
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#chatbar.minimized { bottom: -214px; }
#chatbar.minimized .close-button { display: none; }



.social-network{ margin:0; padding:0; list-style:none; }
#footer .col .social-network li{padding-bottom:5px;}
.social-network a{ background:url(../images/sprite.png) no-repeat; padding:0 0 0 30px; height:20px; display:inline-block; }
.social-network a.twitter{background-position:0 -204px;}
.social-network a.facebook{background-position:0 -234px ;}



/* COLORS:
    #292f3d - sidebar light
    #202530 - sidebar dark
    #181b24 - sidebar border
*/

/*#sidebar { font: 18px/21px "KnockoutHTF30-JuniorWelterwt", Arial, sans-serif !important; font-weight: bold !important; }*/

/* primary menu */
#menu { border-radius: 5px; margin:0; padding:0px 0 0 0; list-style:none; }
#menu { display: none; } 
/*#menu a { outline: 0 !important; }
#menu { border-top:1px solid #14161e; margin:0; padding:0; list-style:none; }
#menu li { border-bottom:1px solid #191c25; background:#292f3e; }
#menu li a { color:#919ab2; display:block; padding:9px 10px 9px 17px; text-shadow: 0px 1px 1px #000; font: 17px "Oswald", Arial, sans-serif; }
#menu li a.active { background-image: url(../images/bg-menu-hover.png); background-repeat: no-repeat; background-position: 100% 50%; }
*/

#menu li { border-bottom:1px solid #444; background:#1f1f1f; }
#menu li:first-child { border-radius: 5px }
#menu li:first-child li { border-radius: 0 }
#menu li a { color:#fff; display:block; padding:9px 10px 9px 17px; text-shadow: 0px 1px 1px #000; font: 17px "Oswald", Arial, sans-serif; }
#sidebar .active { background-image: url(../images/bg-menu-hover.png); background-repeat: no-repeat; background-position: 100% 50%; }


/* submenu */
#menu ul { border-top:1px solid #14161e; font-size:16px; margin:-1px 0; padding:0; list-style:none; display: none; }
#menu ul.expanded { display: block; }
#menu ul li { background: #404040 url(../images/sprite.png) no-repeat; border-bottom: 1px solid #1f1f1f; }
#menu ul li a { color:#fff; padding:9px 10px 10px 48px; font-size: 16px; }
/*
#menu ul .website {background: #212632 url(../images/sprite.png) no-repeat 17px 13px;}
#menu ul .email {background: #212632 url(../images/sprite.png) no-repeat 17px -58px;}
#menu ul .analytics {background: #212632 url(../images/sprite.png) no-repeat 17px -140px;}
*/

#menu ul li { background: #212632 url(../images/icon-sprite.png) no-repeat 17px -18px; }
#menu ul li a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/*#menu ul li.active {background-color: #8b95a9}*/
#menu ul li.active a {background: url(../images/bg-menu-hover.png) no-repeat 100% 50%}
/* Menu height = 31 px*/
#menu ul li.blog {background-position:17px 13px;}
#menu ul li.faq {background-position:17px -18px;}
#menu ul li.knowledge-center {background-position:17px -49px;}
#menu ul li.contact-us {background-position:17px -80px;}
#menu ul li.support-ticket {background-position:17px -110px;}
#menu ul li.whois-pro {background-position:17px -141px;}
#menu ul li.credit-billing {background-position:17px -172px;}
#menu ul li.linked-account {background-position:17px -201px;}
#menu ul li.send-invite {background-position:17px -232px;}
#menu ul li.transfer {background-position:17px -268px;}
#menu ul li.expiring-soon {background-position:17px -299px;}
#menu ul li.registration {background-position:17px -330px;}
#menu ul li.dns {background-position:17px -361px;}
#menu ul li.email-forwarding {background-position:17px -391px;}
#menu ul li.url-forwarding {background-position:17px -421px;}

#menu ul li.blog:hover, #menu ul li.blog.active {background-position:17px -454px;}
#menu ul li.faq:hover, #menu ul li.faq.active {background-position:17px -486px;}
#menu ul li.knowledge-center:hover, #menu ul li.knowledge-center.active {background-position:17px -517px;}
#menu ul li.contact-us:hover, #menu ul li.contact-us.active {background-position:17px -548px;}
#menu ul li.support-ticket:hover, #menu ul li.support-ticket.active {background-position:17px -578px;}
#menu ul li.whois-pro:hover, #menu ul li.whois-pro.active {background-position:17px -609px;}
#menu ul li.credit-billing:hover, #menu ul li.credit-billing.active {background-position:17px -640px;}
#menu ul li.linked-account:hover, #menu ul li.linked-account.active {background-position:17px -669px;}
#menu ul li.send-invite:hover, #menu ul li.send-invite.active {background-position:17px -700px;}
#menu ul li.transfer:hover, #menu ul li.transfer.active {background-position:17px -735px;}
#menu ul li.expiring-soon:hover, #menu ul li.expiring-soon.active {background-position:17px -766px;}
#menu ul li.registration:hover, #menu ul li.registration.active {background-position:17px -797px;}
#menu ul li.dns:hover, #menu ul li.dns.active {background-position:17px -828px;}
#menu ul li.email-forwarding:hover, #menu ul li.email-forwarding.active {background-position:17px -859px;}
#menu ul li.url-forwarding:hover, #menu ul li.url-forwarding.active {background-position:17px -889px;}



.fancy-table { width: 100%; border-collapse: collapse; }
.fancy-table td, .fancy-table th { border-bottom: 1px solid #ddd; padding: 2px 4px 4px 4px; }
.fancy-table th { font-weight: bold; text-align: left; }
.fancy-table tr:hover { background: #FFFBD8; }
.fancy-table tr.table-header:hover { background: none; }
.fancy-table tr.success-row { background-color: #E6F8D8 }

.fancy-table .table-header .table-sorter a { cursor: pointer; }

.fancy-table tr td.app_dns_header { border-bottom: none; padding-top: 20px; }

.fancy-dl dt { font-weight: bold; float: left; clear: left; width: 140px; text-align: right; }
.fancy-dl dd { float: left; margin-left: 8px; }

input.fancy[type=text], input.fancy[type=password] { margin-top: 4px; padding: 5px; font-size: 17px; border: 1px solid #aaa; border-radius: 3px }


#suggest-grid { border-top: 1px solid #333; }


.h1-action { float: right; margin-top: -40px; font-size: 50px; color: green; font-weight: bold; }

.info-message {
  border: 1px solid #e2c822;
  background: #fff9d7;
  padding: 14px 20px;
  margin-bottom: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.info-message .fancy-table tr:hover { background: #FFFEF8; }
.info-message .fancy-table tr.table-header:hover { background: none; }
.info-message ul li { margin-left: -13px }

.error-message {
  border: 1px solid #dd3c10;
  background: #ffebe8;
  padding: 14px 20px;
  margin-bottom: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.error-red { color: #c00; }

.success-message {
  border: 1px solid #619934;
  background: #E6F8D8;
  padding: 14px 20px;
  margin-bottom: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.status-message { border: 1px solid #e2c8c2; background: #fff9f7; padding: 14px 20px; border-radius: 10px; margin-bottom: 10px; }

.subtle-info-message {
  background: #F1F1F1;
  padding: 14px 20px;
  margin-bottom: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.info-message ul, .success-message ul, .status-message ul, .error-message ul { margin: 10px 0 0 0; }

.invite-extra-info { margin: 5px 10px; width: 450px; }

.invite-status-table .center { text-align: center; }
.invite-status-table .revoke-button { font-size: 13px; padding: 4px 12px; }

#signup-box .terms_of_service { margin: 10px 0; }
#signup-box .terms_of_service input { margin-top: 0; }

.purchase-credits td, .purchase-credits th { text-align: center; }
.purchase-credits tr { cursor: pointer; }

.hidden { display: none; }

.edit-buttons { visibility: hidden; }
.fancy-table tr:hover > td .edit-buttons { visibility: visible; }

.icon-buttons { padding-left:2px; float: left; }

/* adding css for ie browser */
.has-placeholder { color: #777777; }

/* fix placeholders for Firefox. NOTE: These can't be combined. */
::-webkit-input-placeholder { color: #777777; }
:-moz-placeholder { color: #777777; }


#modal-dialog.ie-browser { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); zoom: 1; }
.ie-browser #footer { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000); zoom: 1; }
.ie-browser #user-nav { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000000,endColorstr=#40000000); zoom: 1; }
.ie-browser .close-button { background: transparent url(../images/close.png); display: block; width: 32px; height: 32px; position: absolute; right:-10px; top: -10px; border: none; }

.bio { 
  /*border: 1px solid #858585;*/
  padding: 15px;
  background: #EEE;
  
  margin: 15px;
  
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.bio img.profile { 
  width: 150px;
  height: 150px;
  float: left;
  
  box-shadow: 1px 1px 5px #B1B1B1;
  -moz-box-shadow: 1px 1px 5px #B1B1B1;
  
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
#about-div #company p { font-size: 16px; line-height: 30px; }
#about-div #company img {
  float: right;
  width: 30%;
  height: 30%;
  
  /*horizontal flip of image*/
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}
.bio .content { margin-left: -40px; height: auto; }
.bio .content fieldset { line-height: 25px; }

.testimonials {
  /*border: 1px solid #858585;*/
  padding: 15px;
  background: #EEE;

  margin: 15px;

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#testimonials-div #intro p { font-size: 16px; line-height: 30px; }

#testimonials-div #intro img {
  float: left;
}

.app_store_container { float: left; width: 90px; padding: 10px 10px 20px 10px; border: 1px solid transparent; }
.app_store_container_small { float: left; width: 0px; padding: 5px 5px 5px 5px; }

.app_store_container:hover {
  text-decoration: none;
  border: 1px solid #e2c822;
  background: #fff9d7;
  cursor: pointer;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.app_store_container span { display: block; color: #000; }

.app_store_icon {
  box-shadow: 1px 1px 5px #666;
  -moz-box-shadow: 1px 1px 5px #666;
  
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90px;
  height: 90px;
   margin-bottom: 10px;
  overflow: hidden;
  
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#accounts-table h1, #accounts-table h2, #accounts-table h3 { margin: 0; padding: 0; }
.y-scrollbar-div {
  max-height: 250px;
  width: 100%;
  overflow: auto;
}

.some_selected { opacity: 0.5; filter: alpha(opacity=50); }
.select_one { cursor: pointer; } 
/*label { cursor: pointer; }*/

.fancy-table td.fancy-table-destination-td {
  padding-right: 30px;
  background: transparent url(../images/icon-arrow-right.png) right center no-repeat
}

.long-domain-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

.h1_for_domains { white-space:nowrap; }

#main #content h1.header-with-right-btn {
  padding-right: 80px;
}

#dns-add-subdomain {
  float:left;
  width: 60px;
}

#input-username {
  float:left;
}

.domain-name-label {
  margin: 5px 5px 0 0;
  line-height: 24px;
  float:left;
  color: #888;
  width: 200px;
}

.blog-title, .faq-title {
  margin: 5px 0 7px;
  padding: 5px 0;
  border-bottom: 1px solid #999;
}

.blog-title a {
  font: 20px "Oswald", Arial, sans-serif;
  color: black;
  text-decoration: none;
}

.blog-info {
  font-size: 90%;
  color: #999;
  font-style: italic;
}

#transfer-domains-table .success-row {
  background-color: #E6F8D8
}

#transfer-domains-table .error-row {
  background-color: #ffebe8
}

#transfer-domains-table .auth-code-input {
  border: 1px solid #dd3c10;
  width: 100px;
  border-radius: 2px;
  margin: 0;
}

#transfer-domains-table .error {
  font-weight: bold;
  color: red;
}

#transfer-domains-table .retry-link { display: none; }
#transfer-domains-table .error-row .retry-link { display: block; }

.ticket-content {
  border: 1px solid #CCCCCC;
  background: #eeeeee;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.ticket-response {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 20px;
}

.expand-button {
  background: url("../images/rt-arrow.png") top left no-repeat;
  padding-left: 20px;
}

.collapse-button {
  background: url("../images/down-arrow.png") top left no-repeat;
  padding-left: 20px;
}

.domain-row .domain_row_trash_icon { display: none; }
.domain-row:hover .domain_row_trash_icon { display: block; cursor: pointer; }

#homepage-welcome { margin-left: 20px; }
#homepage-welcome ul { margin: 0; padding: 0; }
#homepage-welcome ul li { list-style: none; margin: 0; padding: 0; font-size: 18px; line-height: 20px; font-family: AdelleBold, Titillium; background: transparent url(../images/check.png) no-repeat left top; padding: 0 0 20px 25px; }
#homepage-welcome h2 { font-size: 60px; font-family: AdelleBold, Titillium;  }

.rewards-points { 
  font-weight: bold;
  font-size: 45px;
  margin: 15px auto;
  color: #2BC253;
  text-shadow: 0px 0px 5px #90DD1C;
}
table.rewards-stats td.metric {
  width: 25%;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.legal-indent { margin-left: 50px; }


.tld img { display: block; margin: 0 auto; }

td.tld-available, td.tld-taken { width: 10%; }
td.tld-available  a       { font-weight: bold; }
td.tld-taken      a       { text-decoration: line-through; color: #000; }
td.tld-taken      a:hover { text-decoration: underline; }



.iphone #header { position: absolute; }
.iphone #chatbar  { display: none; }
