/* resets */
img { border-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input, textarea, select { vertical-align: middle; }
html,body,form,fieldset { margin:0; padding:0; border-style:none; }

/* font size and colors */
body { font-size: 100%; }
body, input, textarea, select, td, th {
  font: 14px "Helvetica Neue", Arial, sans-serif;
  color: #333;
  line-height: 18px;
}

.clickable { cursor: pointer; }

a { color: #1E31F5; }

h1, h2, h3, h4 { 
  font: 28px AdelleBold, Titillium, Arial, sans-serif;
  margin: 5px 0 7px;
  padding: 0;
  border-bottom: 1px solid #333;
}

h2 { font-size: 24px; border-bottom: 0; }
h3 { font-size: 20px; border-bottom: 0; }
h4 { font-size: 18px; border-bottom: 0; }
h1 a, h2 a, h3 a, h4 a, h5 a { color: #333; }

/* page background */
/*html { background: transparent url(../images/v2/groovepaper.png) repeat top center; }*/
html { background: transparent url(../images/v2/white_plaster.png) repeat top center; }
html.demo { background: transparent url(../images/v2/white_plaster_demo.png) repeat top center; }


/* header position */
#header { position: fixed; left: 0; top: 0; width: 100%; height: 70px; z-index: 2; }
#main { padding-top: 70px; width: 970px; margin: 0 auto; }

/* header styling */
#header { background: #3F3F3F url(../images/v2/topnav.png) repeat-x top center; box-shadow: 0 0 7px rgba(0,0,0,1); }
#logo { margin: 0; }
#logo a { font: 30px Arial, sans-serif; color: #fff; text-indent: -1000px; float: left; height: 30px; width: 90px; background: url(../images/v2/logo.png); margin-top: 8px; }
#logo a:hover { text-decoration: none; }
#logo img { vertical-align: bottom; padding-right: 10px; }

#user-nav { 
  position: absolute;
  top: 11px;
  right: 0px;
  background: #444;
  padding: 3px 13px;
  color: #ccc;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
  min-width: 120px;
  max-width: 250px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-nav a { color: #eee }
#user-nav a span.downarrow { padding-left: 6px; }
#header a.navlink { margin-right: 6px; border-right: 1px solid #777; padding-right: 6px  }
#header a.navlink.last { margin-right: 0; border-right: 0; padding-right: 0 }
#user-nav #user_nav_a:hover { text-decoration: none; }
#user-nav.flyout { box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
#user-nav #user_nav_flyout { display: none; }
#user-nav.flyout #user_nav_flyout {
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin: 5px 0;
}
#user-nav #user_nav_flyout a { display: block; }

#left-topnav { 
  position: absolute;
  left: 5px;
  top: 48px;
}
#right-topnav { 
  position: absolute;
  right: 5px;
  top: 48px;
}
/*#header.loggedin #left-topnav, #header.loggedin #right-topnav { 
  display: block;
}
#left-topnav, #right-topnav { 
  display: none;
}*/

#left-topnav a, #right-topnav a { 
  color: #eee;
  /*padding: 0 1px;*/
  /*  background: #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
}

#right-topnav .unread-alert { 
  background: red; 
  color: white; 
  padding: 1px 4px;
  margin-left: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#right-topnav .another-alert {
  background: green; 
  color: white; 
  padding: 1px 4px;
  margin-left: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


#form-search { 
  width: 355px;
  padding: 5px;
  /*margin: 0 auto;*/
  position: absolute;
  top: 7px;
  left: 275px;

  border: solid 5px #2a2a2a;
  padding: 5px 5px;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;

  -webkit-box-shadow: 0 0 7px rgba(40,40,40,1);;
  -moz-box-shadow: 0 0 7px rgba(40,40,40,1);;
  box-shadow: 0 0 7px rgba(40,40,40,1); 

  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDAF5C), to(#C98A47));
  background: -moz-linear-gradient(top,  #FDAF5C,  #C98A47);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDAF5C', endColorstr='#C98A47'); /* ie7 */
  -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDAF5C', endColorstr='#C98A47'); /* ie8 */
}

#form-search input { 
  background: #fff url(../images/v2/search.png?1) no-repeat 10px 10px;

	border: solid 1px #C08547;
	outline: none;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	
  width: 300px;
  height: 30px;
  color:#333;
  padding:5px 9px 5px 44px;
  margin:0 0 0 0;
  font-size: 24px;
  line-height: normal;
}

/* content area (fixed width centered) */
html, body, #wrapper, #footer { min-width: 970px; }
#header .inner, #footer .inner { width: 970px; padding: 0; margin: 0 auto 50px auto; position: relative; }
#main .content { 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  padding: 20px;
  margin: 20px auto;
  min-height: 300px;
  background: white;
  
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* footer styling */
#footer { background: #333; color: #eee; overflow: hidden; }
#footer .outer { margin: 0 -100px -100px -100px; padding: 20px 100px 120px 100px; box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.35); }
#footer.chatbar { margin-bottom: 270px; }
#footer .footer-holder { height:1%; display:table-row; }
#footer .footer-frame{display:table-cell;}
#footer .box { padding:5px 0 0; margin:0 0 30px; }
#footer .box .holder { padding:0 0 5px; }
#footer .box .frame { overflow:hidden; padding:11px 0 24px; }
#footer .col { float:left; width:216px; margin:0 0 0 20px; }
#footer h2{ font:18px "Oswald", Arial, sans-serif; margin:0 0 4px; border-bottom:1px solid #eee; padding:0 0 3px; text-shadow: 1px 0px 1px #252525; }
#footer .col ul{ margin:0; padding:0; list-style:none; text-shadow: 1px 0px 1px #252525; }
#footer .col ul li{padding:5px 0 0;}
#footer .col a{color:#eee;}
#footer .col address{font-style:normal;}

/*  footer hotpatch */
#footer { background: transparent; }
#footer .outer { box-shadow: none; }
#footer h2 { color: #333;  text-shadow: none; font: 15px "Helvetica Neue", Arial, sans-serif; font-weight: bold; margin-bottom: 0;}
#footer .col a { color: #1E31F5; text-shadow: none }


/* modal */
.modal-dialog { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index: 3 }
#modal-content { 
  margin: 100px auto 0 auto;
  width: 600px;
  padding: 20px;
  background: white;
  position: relative;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.modal-dialog h1 { margin: 0 0 7px; padding: 0; border-bottom: 1px solid #333; }
.modal-dialog h2, .modal-dialog h3 { margin: 0 0 5px; padding: 0; border-bottom: 0; }
#modal-content.spinner { background: white url(../images/spinner.gif) no-repeat center center; }
#modal-content.spinner #modal-wrapper { visibility: hidden; }
#modal-content #modal-message { display: none; position: absolute; top: 50%; left: 0; width: 100%; text-align: center; margin-top: 11px; color: #888; font-style: italic; }
#modal-content.spinner #modal-message { display: block; }
.close-button {
  background: black;
  border: 3px solid white;
  display: block; width: 20px;
  height: 20px;
  position: absolute;
  right:-10px;
  top: -10px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  color: white;
  font-size: 14px;

  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  
  box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
}
.close-button:hover { text-decoration: none; }

.domain-filters { margin-left: 10px; }

/*
  Color domains based on their expiration dates
*/
td.expiration-date span.red { color: #B91B1B; }
td.expiration-date span.yellow { color: #D8BD0F; }

/***********************************************/
/***********************************************/

#main #content-top {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  
  padding: 15px 20px 15px 30px; 
  margin: 20px 0; 
  color: white;
}

#main #content-top, #demo-banner {
  background: rgb(59,80,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(79,133,187,1) 0%, rgba(90,114,148,1) 0%, rgba(34,65,112,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(0%,rgba(90,114,148,1)), color-stop(100%,rgba(34,65,112,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(90,114,148,1) 0%,rgba(34,65,112,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(90,114,148,1) 0%,rgba(34,65,112,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(90,114,148,1) 0%,rgba(34,65,112,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(90,114,148,1) 0%,rgba(34,65,112,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#224170',GradientType=0 ); /* IE6-9 */
}

#demo-banner {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 85px; line-height: 24px; color: white; padding-top: 20px;
}

#main #content-top h1 { 
  font-family: AdelleBold, Titillium;
  font-size: 40px;
  text-shadow: 1px 1px 1px #000;
  font-weight: normal;
  margin-bottom: 0;
  border: 0px;
}

#main #content-top h2 { 
  font-family: AdelleBold, Titillium;
  font-size: 28px;
  text-shadow: 1px 1px 1px #000;
  font-weight: normal;
  margin-bottom: 0;
  border: 0px;
}

#main #content-top h3 {
  font-family: AdelleBold, Titillium;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
  margin-top: 10px;
  color: white;
  margin-bottom: 12px
}

#content-top .registrars span { 
  padding-right: 20px;
  font-family: AdelleBold, Titillium;
  font-size: 18px;
}

#content-top .registrars .app_store_icon {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
  box-shadow: 1px 1px 1px #333;
  -moz-box-shadow: 1px 1px 1px #333;
  
  width: 32px;
  height: 32px;
   margin-bottom: 10px;
   margin-right: 6px;
  overflow: hidden;
  vertical-align: middle;
}

#content-top .registrars a { 
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px #000;
  font-family: Signika; 
  font-size: 18px;
}

#main #content.homepage {
  min-height: 0;
}

#content.homepage h3 {
  margin: 10px 0 0 0;
}

#content.homepage p {
  margin: 4px 0 24px;
}


/* homepage */
#homepage-welcome { margin-left: 20px; }
#homepage-welcome ul { margin: 20px 0 0 0; padding: 0; }
#homepage-welcome ul li { list-style: none; margin: 0; padding: 0; font-size: 26px; line-height: 25px; font-family: AdelleBold, Titillium; background: transparent url(../images/check.png) no-repeat left top; padding: 0 0 40px 25px; }
#homepage-welcome h2 { font-size: 52px; font-family: AdelleBold, Titillium; border-bottom: 0; margin-top: 20px; margin-bottom: 20px }
#homepage-welcome h2 span { font-size: 65px; padding: 0 3px }
#homepage-welcome h3 { font-size: 26px; border-bottom: 0; margin-top: 35px; margin-bottom: 9px }
#homepage-welcome img.badger { padding: 20px 30px; float: right; }
#homepage-welcome .get-started-wrapper { margin-left: 335px; margin-top: 30px;  }
#homepage-welcome .app_store_container { width: 90px; padding: 10px 0; text-align: center; }
#homepage-welcome .app_store_icon { width: 64px; height: 64px; border-radius: 6px; margin-bottom: 5px; }

/*#homepage .rotater { height: 400px; padding-top: 100px; }
#homepage .rotater div { display: none; }
#homepage .rotater div img { float: left; width: 300px; height: 250px; box-shadow: 0 0 5px 0px #aaa; margin-right: 65px; border: 1px solid #888 }
#homepage .rotater div h2 { font: 52px AdelleBold, Titillium, Arial, sans-serif; text-transform: none; border-bottom: 0; }
#homepage .rotater div h3 { font: 80px AdelleBold, Titillium, Arial, sans-serif; text-transform: none; border-bottom: 0; margin-top: 30px; text-align: right; }
#homepage .rotater div p { display: none; }
#homepage .rotater div p { font-size: 17px; line-height: 30px; margin-top: 20px; font-weight: normal; color: #444 }
*/


/*
#homepage h1 { border-bottom: none; height: 100px; line-height: 100px; margin: 0; }
#homepage h1 img { vertical-align: middle; margin: 0 10px; display: none }
*/



/*#wrapper #main { width: 970px; padding: 0 10px 10px 0; margin: 0 auto; padding-top: 80px; height: 100%; min-height: 100%; }*/


/*
#main.homepage_blurb #content h1 { font: 48px AdelleBold, Titillium, Arial, sans-serif; text-transform: none; border-bottom: none; height: 100px; line-height: 100px; margin: 0; text-align: center; }
#main.homepage_blurb h1 img { vertical-align: middle; margin: 0 10px; display: none }
*/


#domains-left-nav { margin: 0; padding: 0; }
#domains-left-nav li { margin: 0; padding: 0; list-style: none; }
#domains-left-nav a { display: block; height: 30px; background: #eee; line-height: 30px; margin-right: 30px; padding-left: 10px; font-weight: bold; color: #333; }
#domains-left-nav a:hover { color: #333; text-decoration: none; background: #E4E4E4; cursor: pointer; }
#domains-left-nav a.active {  background: #bbb url(../images/v2/domains-left-nav-bg.png) no-repeat right center; margin-right: 10px; border: 0px; width: 174px; }


/*
  The rewards description table on #rewards
*/
.reward-description { padding: 10px; text-align: center; /*border-bottom: 1px solid #D6D6D6;*/ }
.reward-description .icon { display: inline-block; text-align: center; width: 100px; float: left; }
.reward-description .icon img { max-width: 60px; margin-top: 15px; }
.reward-description .description { display: inline-block; width: 450px; text-align: left; }
.reward-description .description .main { font-size: 25px; margin-bottom: 15px; font-weight: bold; }
.reward-description .description .sub { color: gray; margin-left: 15px; }
.reward-description .points { display: inline-block; text-align: center; width: 25%; vertical-align: top; }
.reward-description .points .number { font-size: 40px; font-weight: bold; margin-bottom: auto; }
.reward-description .points .sub { font-size: 12px; color: gray; }
  

.sidebar { float: right; width: 240px; }
.has-sidebar { margin-right: 260px; }
.sidebar h3 { font-size: 16px; font-weight: normal; margin: 0; }
.sidebar p { margin: 5px 0 0 0; }
.sidebar .info-message, .sidebar .error-message, .sidebar .success-message { padding: 15px }
.sidebar .centered-button { text-align: center; margin-top: 8px }

.sidebar.left { float: left; }
.has-sidebar.left { margin-right: 0; margin-left: 260px; }
